<nav class="navbar navbar-expand-lg navbar-light bg-dark mynav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" style="color: white" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white" routerLink="/signup">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white" routerLink="#">About</a>
        </li>
        </ul>
    </div> 
</nav>
<div class="frntimg">
    <img class="frontimg" src="../../assets/img/article.jpg">
    <div class="h1">
        <h1>Invoicing has never been easier!</h1><br><br>
        <div class="body">
            <p>Thinking of going paperless and sending your digital invoices faster, this is the right software for you.<br><br>Signup for free today!</p><br>
            <button type="button" class="btn btn-primary but" routerLink="/signup">Signup for free now</button>
        </div>
    </div>
</div>
<div class="myheader">
    <div class="head">
        <p><b><span>Send your Invoices in Seconds</span></b><br><br>
            Easy to use, user friendly, free for some features ( when dealing with less than ten clients ). You get to pay a fee less than the price of a cup of coffee when dealing with more than ten clients.
        </p>
        <button type="button" class="btn btn-primary signup" routerLink="/signup">GET STARTED</button>
    </div>
</div>
