<body id="body">
  <div class="container-fluid">
    <div class ="col-md-4 myform">
      <img src="../../assets/img/logo.png" alt="Mountain View" id="logo">
      <div>
        <h1 style="text-align: center"> Login </h1>
      </div>
      <div class="form-group">
        <form id="form" (ngSubmit)="login(x)" #x="ngForm">
          <label>Email:</label><br>
          <input type="email" ngModel name="email" class="form-control" placeholder="email"  ><br>
          <label>Password:</label><br>
          <input type="password" ngModel name="password" class="form-control" placeholder="password" ><br>
      
          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-success">Login</button> 
            </div>
            <div class="col-md-6">
              <label style="text-align: right"><input type="checkbox"> Remember me</label>
            </div>
          </div>
          <p id="h4" style="text-align: center">Not registered yet?<a routerLink="/signup"> Sign up Here </a></p>
          <p id="error">{{error}}</p>
        </form>
      </div>
    </div>
  </div>
</body>